<div class="row pull-right" id="announcements">
  <% if @announcements.present? %>
  <div class="span12 info-panel">
	  <table border="0">
		<% @announcements.each do |announcement|%>
	  	<tr>
			<td class="date"><%= announcement.created_at.strftime("%d-%m-%Y") %></td>
			<td class="info"><%= announcement.description %></td>
      <% if (current_user && current_user.admin_group?) %>
      <td class="actions"><%= link_to "Edit", main_app.edit_admin_announcement_path(announcement)%></td>
      <% end %>
		</tr>
		<% end %>
	  </table>
  </div>
  <% end %>
</div>
