<div id="myCarousel" class="carousel slide span8">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="item active">
      <a href="/t/trang-diem/phan-nhuo">
        <%= image_tag "store/carousel/phan1.jpg" %>
      </a>
    </div>
    <div class="item">
      <a href="/t/trang-diem/mong-tay-gia">
        <%= image_tag "store/carousel/nail.jpg" %>
      </a>
    </div>
    <div class="item">
      <a href="/t/trang-diem/phan-nhuo">
        <%= image_tag "store/carousel/phan2.jpg" %>
      </a>
    </div>
    <div class="item">
      <a href="/t/hang-order/but-bap-rang">
        <%= image_tag "store/carousel/pen.jpg" %>
      </a>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
