<div id="myCarousel" class="carousel slide span8">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "store/carousel/phan1.jpg" %>
    </div>
    <div class="item">
      <%= image_tag "store/carousel/phan2.jpg" %>
    </div>
    <div class="item">
      <%= image_tag "store/carousel/son1.jpg" %>
    </div>
    <div class="item">
      <%= image_tag "store/carousel/son2.jpg" %>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
