<div class="span4 well" id="head_contact">
  <h3><%= t(:contact_us) %></h3>
  <strong>Email</strong>: support@muamely.com<br/>
  <strong>Phone</strong>: 098-5771-685, 098-9274-773<br/>
  <a href="ymsgr:sendIM?dugiaurhm"><img border="0" src="http://opi.yahoo.com/online?u=dugiaurhm&m=g&t=2" /></a>
  <p>Đặt hàng online để nhận <a href="/statics/discount">chiếc khấu</a> hấp dẫn, xem <a href="/statics/how_to">hướng dẫn</a></p>
</div>
