<div id="head_contact">
  <div class="well">
  <h3><%= t(:contact_us) %></h3>
  <strong>Email</strong>: support@muamely.com<br/>
  <strong>Phone1</strong>: 090-9184-625<br/>
  <strong>Phone2</strong>: 096-2415-062<br/>
  <strong>Hotline</strong>: 098-5771-685<br/>
  <a href="ymsgr:sendIM?muamely"><img border="0" src="http://opi.yahoo.com/online?u=muamely&m=g&t=2" /></a>
  <p>Đặt hàng online để nhận <a href="/statics/discount">chiếc khấu</a> hấp dẫn, xem <a href="/statics/how_to">hướng dẫn</a></p>
  </div>
</div>
