<div class="modal" id="notice-modal" tabindex="-1" role="dialog" aria-labelledby="notice-modal-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="notice-modal-label"><%= t(:notice) %></h3>
  </div>
  <div class="modal-body">
    - Giá trên web là giá sỉ áp dụng cho đơn hàng đầu tiên là 500k, đơn hàng tiếp theo là 200k ( Đối với các bạn ở tỉnh đặt hàng thì sau khi shop nhận được tiền trong tài khoản ngân hàng thì mới tiến hành chuyển hàng) <br/>
	- Từ ngày 2/3 shop chính thức chuyển qua 493/21 cmt8 các bạn vào hướng dẫn để xem chi tiết đường đi đến shop nhé.
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
<script>
  $(document).ready(function () {
    if($.cookie("notice") != "true") {
      $.cookie("notice", "true", { expires: 7 });
      $('#notice-modal').modal({
        keyboard: true,
        show: true
      });
    } else {
      $('#notice-modal').modal({
        keyboard: true,
        show: true
      });
      $('#notice-modal').modal("hide");
    }
  });
</script>
