<div class="modal" id="notice-modal" tabindex="-1" role="dialog" aria-labelledby="notice-modal-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="notice-modal-label"><%= t(:notice) %></h3>
  </div>
  <div class="modal-body">
    <% @notices.each do |notice|%>
    <div>
      <%= notice.description %>
    </div>
    <% end %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
<script>
  
  $(document).ready(function () {
    var timestamp = '<%= @last_notice_time %>';
    console.log($.cookie("notice-time"));
    if($.cookie("notice") != "true" || $.cookie("notice-time") < timestamp) {
      $.cookie("notice", "true", { expires: 7 });
      $.cookie("notice-time", timestamp)
      $('#notice-modal').modal({
        keyboard: true,
        show: true
      });
    } else {
      $('#notice-modal').hide();
    }
  });
</script>
