<div id="support">
  <p>9:00am - 7:00pm, T2-T7</p>
  <p><b>Phone:</b> 096-2415-062</p>
  <a href="ymsgr:sendIM?muamely"><img border="0" src="http://opi.yahoo.com/online?u=muamely&m=g&t=2" /></a>
</div>