body {
    
}
#header {
    margin-top: 60px;
}
select {
    width: 210px;
}
#footer {
	clear: both;
	overflow: hidden;
	min-height: 80px;
	margin-bottom:27px;
	border-top:1px solid #ccc;
	padding:27px 0 0 0;
	color:#a4a2a2;
}
#footer h3 {
	font-size:16px;
	color:#000;
	margin:0 0 13px 0;
	letter-spacing:-1px;
}
#footer .column {
	float: left;
	width:142px;
	margin-right:10px;
	min-height:110px;
}
#footer .column ul {
	margin-top: 0px;
	margin-left:0px;
	padding-left:0px;
	list-style:none;
	
}
#footer .column ul li {
	padding-top:3px;
	padding-bottom:3px;
	list-style:none;
	line-height:15px;
	
}
#footer .column a {
	text-decoration: none;
	font-size:12px;
	color:#a4a2a2;
}
#footer .column a:hover { color:#F7571F;}
#footer .column.col-3 { margin-right:0; width:110px;}
#footer .column.col-5 { float:right; width:233px;}
#footer h4 {
	margin-top:0;
	font-size:17px;
	color:#555050;
	line-height:21px;
	font-weight:normal;
	margin-bottom:7px;
}

header .navbar {
    margin-bottom: 5px;
}
#header {
    margin-bottom: 0px;
}
.nav-collapse {
    margin-top: 14px;
}
#cart-details {
    padding-right: 30px;
    height: 400px;
    overflow-y: auto;
}
#cart-dropdown {
    background-image: image-url("store/icons.png");
    background-repeat: no-repeat;
    background-position: -479px 0px;
    padding-left: 25px;
}

.navbar-inner{
  position: relative;
  .notification{
    list-style: none;
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 22px;
    width: 22px;
    .dropdown-menu{
      left: -185px;
      max-height: 230px;
      overflow: auto;
      width: 210px;
      .user-comment{
        span.username{
          color: red;
        }
      }
      .notificationable-name{
        color: #005580;
      }
    }
    span.notification-count {
      display: block;
      height: 15px;
      width: 15px;
      line-height: 15px;
      -moz-border-radius: 30px;
      border-radius: 30px;
      background-color: red;
      color: white;
      text-align: center;
      font-size: 10px;
      font-weight: bold;
      margin: 0;
      padding: 0;
      position: relative;
      top: -25px;
      right: -12px;
    }
  }
}


#support{
  background: image_url('store/support_icon.png') no-repeat;
  display: block;
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 160px;
  height: 150px;
  padding-left: 145px;
  background-size: 150px;
  background-color: #fff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 1px solid #00adee;
  box-shadow: 0 0 2px 2px #dedede;
  p{
    padding: 8px 0;
    margin: 0px;
  }
  a{
    margin-top: 6px;
    display: inline-block;
  }
}