#product-description {
    width: 480px;
}
.pagination {
    text-align: center;
}
.comments .form-actions {
    padding: 0px;
}
.comments .avatar {
    float: left;
}
.comments .details {
    padding-left: 70px;
}
#products {
    margin: 0 0 9px 0px;
}
.price.selling {
    position: relative;
}
.product-image a {
    min-height: 100px;
}