
.pagination {
    text-align: center;
}
.comments .form-actions {
    padding: 0px;
}
.comments .avatar {
    float: left;
}
.comments .details {
    padding-left: 70px;
}
.comments .admin {
    color: blue;
}
#products {
    margin: 0 0 9px 0px;
}
.price.selling {
    position: relative;
}
.product-image a {
    min-height: 100px;
}
#product-variants [type=radio]{
    display: none;
}
#product-variants label {
    padding-right: 10px;
    float: left;
    height: 58px;
    width: 50px;
}
#product-variants label img:hover {
    border: 1px solid #4DEC46;
    margin: -1px 0 -1px -1px;
}
#product-variants label img.active {
    border: 1px solid #4DEC46;
    margin: -1px;
}
#product-variants ul li {
    float: left;
    padding-left: 20px;
    padding-bottom: 30px;
}
#product-variants ul li .count-on-hand{
    margin-top: 5px;
    font-size: 13px;
    color: #999;
    height: 20px;
    position: relative;
    width: 200px;
}