#promotion-products-slider{
  height: 220px;
  background-color: white;
  padding: 10px 0;
  a{
    color: white;
  }
  &.royalSlider{
    width:auto;
  }
  .rsVisibleNearbyWrap{
    height: 220px !important;
    width: 80% !important;
    left: 10%;
    .rsOverflow{
      width: 200px !important;
      height: 220px !important;
      background-color: white;
      left: 2%;
      .rsContainer{
        width: 180px;
      }
    }
  }
  .rsArrowRight{
    right: -7px;
  }
  .rsArrowLeft{
    left: -6px;
  }
  .rsSlide{
    line-height: 110px;
    width: 200px;
    text-align: center;
    background-color: white;
    .product-item{
      height: 220px;
      .product-image{
        height: 110px;
      }
      .product-info{
        line-height: 22px;
        text-align: center;
        padding-top: 10px;
        a{
          color: #005580;
        }
      }
    }
  }
  .rsImg{
    max-height: 110px;
    max-width: 110px;
    margin-top: 0px !important;
    margin-left: 0px !important;
    width: auto !important;
    height: auto !important;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }
}