<em>Chỉ áp dụng với mặt hàng đồng hồ</em>
<table class="table">
  <thead>
  <tr>
    <th>#</th>
    <th>Số lượng</th>
    <th>Giảm Ngay(%)</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>> 10</td>
    <td>5%</td>
  </tr>
  <tr>
    <td>2</td>
    <td>> 20</td>
    <td>7%</td>
  </tr>
  <tr>
    <td>2</td>
    <td>> 30</td>
    <td>12%</td>
  </tr>
  </tbody>
</table>

<em>Lưu ý: Chỉ áp dụng với những đơn đặt hàng online</em>
<br/>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Hóa Đơn</th>
      <th>Giảm Ngay(%)</th>
      <th>Tích Lũy Điểm</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Trên 500.000đ</td>
      <td>5%</td>
      <td>50</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Trên 1.000.000đ</td>
      <td>7%</td>
      <td>100</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Trên 2.000.000đ</td>
      <td>10%</td>
      <td>200</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Trên 4.000.000đ</td>
      <td>15%</td>
      <td>400</td>
    </tr>
  </tbody>
</table>