<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Hóa Đơn</th>
      <th>Giảm Ngay(%)</th>
      <th>Tích Lũy Điểm</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Trên 500.000đ</td>
      <td>5%</td>
      <td>50</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Trên 1.000.000đ</td>
      <td>10%</td>
      <td>100</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Trên 2.000.000đ</td>
      <td>15%</td>
      <td>200</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Trên 4.000.000đ</td>
      <td>20%</td>
      <td>400</td>
    </tr>
  </tbody>
</table>