<script type="text/javascript"src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDTK3sKsBdlddAL6EVjQoePX1QNgYUTCGs&sensor=false"></script>
<script type="text/javascript">
  $(document).ready(function(){
    //var address = new google.maps.LatLng(10.757868,106.667488);
	var address = new google.maps.LatLng(10.781588,106.672912);
    var mapOptions = {
      center: address,
      zoom: 16,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"),mapOptions);
    
    var marker = new google.maps.Marker({
      position: address,
      title:"Shop muamely"
    });
    
    marker.setMap(map);
  });
</script>
<h3 style="color:#009933">Thời gian làm việc: </h3>
  Thứ 2 - thứ 6: Sáng 9h - 12h, chiều 13h30 - 19h <br/>
  Thứ 7: Sáng 9h - 12h <br/>
<a name="checkout">
  <h3 style="color:#009933">Hướng dẫn mua hàng</h3>
</a>
<p>
  <strong>
    1) Duyệt và chọn sản phẩm<br>
    2) Thêm sản phẩm vào giỏ hàng của bạn<br>
    3) Các bước gửi đơn hàng:</strong>
</p>
<h5>Bước 1 - Xem thông tin giỏ hàng: </h5>

- Hệ thống hiển thị các thông tin về sản phẩm bạn đã đặt mua như chủng loại, đơn giá, số lượng, trị giá,...Tại đây bạn có thể thay đổi số lượng hàng hoá bằng cách nhập vào số lương trong ô "Số lượng".<br/>

- Nếu muốn trả lại sản phẩm đã chọn (không mua nữa), bạn click vào nút xóa sản phầm (x).<br/>

- Mỗi lần thay đổi số lượng của sản phẩm, bạn nhớ phải click vào nút "Cập nhật giỏ hàng" để hệ thống ghi nhận lại những thay đổi trong giỏ hàng của bạn trước khi click chọn "Thanh toán" để sang bước kế tiếp. <br/>
- Nếu đã đăng nhập (login) rồi thì bạn sẽ được chuyển sang bước 2, nếu chưa hệ thống sẽ yêu cầu bạn đăng nhập trước khi gửi đơn hàng. Nếu bạn đã đăng ký làm thành viên với Muamely thì bạn đăng nhập với email và mật khẩu đã đăng ký, nếu chưa bạn có thể đăng ký tại bước này.<br/>

- Xin lưu ý để đăng nhập vào website Muamely.com. bạn cần phải cung cấp hai thông tin sau:<br/>
+ Địa chỉ email: Email mà bạn đã dùng để đang ký làm thành viên.<br/>

+ Mật khẩu đăng nhập: Mật khẩu bạn đã đăng ký với Muamely.<br/>

<h5>Bước 2 - Địa chỉ thanh toán và giao hàng:</h5

- Nhập vào địa chỉ thanh toán và địa chỉ giao hàng. <br/>
- Bạn có thể sử dụng các tuỳ chọn "Địa chỉ thanh toán giống thông tin tài khoản" và "Địa chỉ giao hàng giống địa chỉ thanh toán".<br/>
- Đối với những bạn chọn phương thức giao hàng tận nơi, vui lòng nhập địa chỉ chính xác có dấu (Nếu máy tính không gõ được dấu tiếng việt vui lòng liên hệ nhân viên muamely và cung cấp địa chỉ chính xác) để thuận tiện cho việc giao hàng.
<h5>Bước 3 - Phương thức vận chuyển và thanh toán:</h5>

- Chọn phương thức thanh toán và phương thức vận chuyển.  <br/>

<h5>Bước 4 - Xem hóa đơn:</h5>

- Hệ thống sẽ hiển thị hoá đơn mua hàng của bạn, nếu đồng ý bạn click "Tiếp tục" để kết thúc việc đặt mua hàng.<br/>

<h5>Bước 5 - Kết thúc:</h5>

- Hệ thống sẽ gởi email xác nhận đơn hàng cho bạn, nhân viên Muamely sẽ liên hệ với bạn để giao hàng theo yêu cầu. <br/>

<br/>
<a name="how-to-pay"><h3 style="color:#009933">Hướng dẫn thanh toán:</h3></a>
<h4> Thanh toán trực tiếp</h4>
493/21 CMT8, phường 13, quận 10, TP.HCM. Khi thanh toán bạn vui lòng kèm theo mã đơn hàng. <br/>
Lưu ý: <br/>
  - Nếu các bạn đi CMT8 từ hướng Tân Bình qua thì qua ngã 3 Tô Hiến Thành sẽ thấy hẻm nằm bên tay phải <br/>
  - Nếu đi từ hướng vòng xoay 3/2 thì hẻm nằm bên tay trái ( đoạn gần đến ngã ba Tô Hiến Thành) <br/>
  - Vào hẻm khoảng 200m nhìn bên trái sẽ thấy shop. Các bạn nhớ đi đúng hẻm 493 nhé (vì có hẻm 493A nữa).

<p class="clear"></p>
<div id="map_canvas" style="height: 400px; width: 600px"></div>
<h4> Thanh toán chuyển khoản qua ngân hàng</h4>
Bạn đến bất kỳ ngân hàng nào ở Việt Nam để chuyển tiền theo thông tin bên dưới (bạn không nhất thiết phải có tài khoản ngân hàng) <br/>
- Tên ngân hàng : Ngân hàng Ngoại Thương Việt Nam (Vietcombank) - chi nhánh Lý Thường Kiệt Q5 TP.HCM <br/>
- Số tài khoản: 0511 0004 12769 <br/>
- Chủ tài khoản: Dư Thị Ngọc Giàu <br/>
- Nội dung thanh toán: muamely [mã đơn hàng] <br/>
<br/>
<a name="point"><h3 style="color:#009933">Điểm tích lũy:</h3></a>
- Bạn nhận được điểm tích lũy khi mua hàng qua hệ thống muamely.com, được tính vào tài khoản sau khi bạn đã thanh toán đơn hàng. <br/>
- Điểm tích lũy dùng để đổi lấy quà tặng hoặc tham gia một số chương trình khuyến mãi khác mà muamely sẽ triển khai trong thời gian tới. <br/>