<h3 style="color:#009933">Hướng dẫn mua hàng</h3>
<p>
  <strong>
    1) Duyệt và chọn sản phẩm<br>
    2) Thêm sản phẩm vào giỏ hàng của bạn<br>
    3) Các bước thanh toán:</strong>
</p>
<h5>Bước1 - Xem thông tin giỏ hàng: </h5>

- Hệ thống hiển thị các thông tin về sản phẩm bạn đã đặt mua như chủng loại, đơn giá, số lượng, trị giá,...Tại đây bạn có thể thay đổi số lượng hàng hoá bằng cách nhập vào số lương trong ô "Số lượng".<br/>

- Nếu muốn trả lại sản phẩm đã chọn (không mua nữa), bạn nhập vào số lượng của sản phẩm đó bằng "0".<br/>

- Mỗi lần thay đổi số lượng của sản phẩm, bạn nhớ phải click vào nút "Cập nhật giỏ hàng" để hệ thống ghi nhận lại những thay đổi trong giỏ hàng của bạn trước khi click chọn "Thanh toán" để sang bước kế tiếp. <br/>
- Nếu đã đăng nhập (login) rồi thì bạn sẽ được chuyển sang bước 2, nếu chưa hệ thống sẽ yêu cầu bạn đăng nhập trước khi thanh toán. Nếu bạn đã đăng ký làm thành viên với Muamely thì bạn đăng nhập với email và mật khẩu đã đăng ký, nếu chưa bạn có thể đăng ký tại bước này.<br/>

- Xin lưu ý để đăng nhập vào website Muamely.com. bạn cần phải cung cấp hai thông tin sau:<br/>
+ Địa chỉ email: Email mà bạn đã dùng để đang ký làm thành viên.<br/>

+ Mật khẩu đăng nhập: Mật khẩu bạn đã đăng ký với Muamely.<br/>

<h5>Bước 2 - Địa chỉ thanh toán và giao hàng:</h5

- Nhập vào địa chỉ thanh toán và địa chỉ giao hàng. <br/>
- Bạn có thể sử dụng các tuỳ chọn "Địa chỉ thanh toán giống thông tin tài khoản" và "Địa chỉ giao hàng giống địa chỉ thanh toán".<br/>

<h5>Bước 3 - Phương thức vận chuyển và thanh toán:</h5>

- Chọn phương thức thanh toán và phương thức vận chuyển.  <br/>

<h5>Bước 4 - Xem hóa đơn:</h5>

- Hệ thống sẽ hiển thị hoá đơn mua hàng của bạn, nếu đồng ý bạn click "Đặt mua hàng" để kết thúc việc đặt mua hàng.<br/>

<h5>Bước 5 - Kết thúc:</h5>

- Hệ thống sẽ gởi email xác nhận đơn hàng cho bạn, nhân viên Muamely sẽ liên hệ với bạn để giao hàng theo yêu cầu. <br/>
