<h1>Editing article</h1>

<%= form_for @announcement, {:url => main_app.admin_announcement_path(@announcement)} do |f| %>
    <%= render 'form', :f => f %>
<% end %>

<%= link_to 'Show', main_app.admin_announcement_path(@announcement) %> |
<%= link_to 'Back', main_app.admin_announcements_path %>
