// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
*/

// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blog-subtitle {
  padding-left: 20px;
}

form label {
  text-align: left;
  float: none;
  font-weight: bold;
}
[st_processed=yes] {
  padding-left: 10px;
}

.blog-heading h2{
  text-decoration: none;
  color: #2D92D5;
}

.utility {
  border-bottom: dotted 1px #FFE4BC;
  font: 500 11px/26px Tahoma;
  color: #999;
}