<footer id="footer" class="alpha omega sixteen columns" data-hook>
  <div class="wrapper">
    <div class="column col-5">
    <h3>Contacts</h3>
    	The Company Name Inc. 9870 St Vincent Place,<br>
Glasgow, DC 45 Fr 45.<br>
                +1 (234) 567-8901             </div>
      <div class="column col-1">
        <h3>About Us</h3>
        <ul>
          <li><a href="http://livedemo00.template-help.com/opencart_40223/index.php?route=information/information&amp;information_id=4" style="padding-left: 0px; ">About</a></li>
          <li><a href="http://livedemo00.template-help.com/opencart_40223/index.php?route=information/information&amp;information_id=6" style="padding-left: 0px; ">Delivery</a></li>
          <li><a href="http://livedemo00.template-help.com/opencart_40223/index.php?route=information/information&amp;information_id=3" style="padding-left: 0px; ">Privacy Policy</a></li>
          <li><a href="http://livedemo00.template-help.com/opencart_40223/index.php?route=information/information&amp;information_id=5" style="padding-left: 0px; ">Terms &amp; Conditions</a></li>
        </ul>
      </div>
      <div class="column col-2">
        <h3>Customer Service</h3>
        <ul>
          <li><a href="http://livedemo00.template-help.com/opencart_40223/index.php?route=information/contact" style="padding-left: 0px; ">Contact Form</a></li>
          <li><a href="http://livedemo00.template-help.com/opencart_40223/index.php?route=account/return/insert" style="padding-left: 0px; ">Returns</a></li>
          <li><a href="http://livedemo00.template-help.com/opencart_40223/index.php?route=information/sitemap" style="padding-left: 0px; ">Site Map</a></li>
        </ul>
      </div>
      <div class="column col-3">
        <h3>Extras</h3>
        <ul>
          <li><a href="http://livedemo00.template-help.com/opencart_40223/index.php?route=product/manufacturer" style="padding-left: 0px; ">Brands</a></li>
          <li><a href="http://livedemo00.template-help.com/opencart_40223/index.php?route=account/voucher" style="padding-left: 0px; ">Gift Vouchers</a></li>
          <li><a href="http://livedemo00.template-help.com/opencart_40223/index.php?route=affiliate/account" style="padding-left: 0px; ">Affiliates</a></li>
          <li><a href="http://livedemo00.template-help.com/opencart_40223/index.php?route=product/special" style="padding-left: 0px; ">Specials</a></li>
        </ul>
      </div>
      <div class="column col-4">
        <h3>My Account</h3>
        <ul>
          <li><a href="http://livedemo00.template-help.com/opencart_40223/index.php?route=account/account" style="padding-left: 0px; ">My Account</a></li>
          <li><a href="http://livedemo00.template-help.com/opencart_40223/index.php?route=account/order" style="padding-left: 0px; ">Order History</a></li>
          <li><a href="http://livedemo00.template-help.com/opencart_40223/index.php?route=account/wishlist" style="padding-left: 0px; ">Wish List</a></li>
          <li><a href="http://livedemo00.template-help.com/opencart_40223/index.php?route=account/newsletter" style="padding-left: 0px; ">Newsletter</a></li>
        </ul>
      </div>
      
  </div>
  
</footer>
