<footer id="footer" class="alpha omega sixteen columns" data-hook>
  <div class="wrapper">
    <div class="column col-5">
    <h3><%= t(:contact_us) %></h3>
    	Ms: Ngọc Giàu<br/>
        DC: 540 Ngô Gia Tự, phường 9, quận 5, TP.HCM<br/>
        Email: dugiaurhm@gmail.com<br/>
        098-5771-685, 098-9274-773
    </div>
      <div class="column col-1">
        <h3>About Us</h3>
        <ul>
          <li><a href="#" style="padding-left: 0px; ">About</a></li>
          <li><a href="#" style="padding-left: 0px; ">Delivery</a></li>
          <li><a href="#" style="padding-left: 0px; ">Privacy Policy</a></li>
          <li><a href="#" style="padding-left: 0px; ">Terms &amp; Conditions</a></li>
        </ul>
      </div>
      <div class="column col-2">
        <h3>Customer Service</h3>
        <ul>
          <li><a href="#" style="padding-left: 0px; ">Contact Form</a></li>
          <li><a href="#" style="padding-left: 0px; ">Returns</a></li>
          <li><a href="#" style="padding-left: 0px; ">Site Map</a></li>
        </ul>
      </div>
      <div class="column col-3">
        <h3>Extras</h3>
        <ul>
          <li><a href="#" style="padding-left: 0px; ">Brands</a></li>
          <li><a href="#" style="padding-left: 0px; ">Gift Vouchers</a></li>
          <li><a href="#" style="padding-left: 0px; ">Affiliates</a></li>
          <li><a href="#" style="padding-left: 0px; ">Specials</a></li>
        </ul>
      </div>
      <div class="column col-4">
        <h3>My Account</h3>
        <ul>
          <li><a href="#" style="padding-left: 0px; ">My Account</a></li>
          <li><a href="#" style="padding-left: 0px; ">Order History</a></li>
          <li><a href="#" style="padding-left: 0px; ">Wish List</a></li>
          <li><a href="#" style="padding-left: 0px; ">Newsletter</a></li>
        </ul>
      </div>
      
  </div>
  
</footer>
