<footer id="footer" data-hook>
  <div class="wrapper">
    <div class="span4">
    <h3><%= t(:contact_us) %></h3>
        22/4 cư xá Lữ Gia, phường 15, quận 11, TP.HCM<br/>
        <strong>Email</strong>: support@muamely.com<br/>
        <strong>Phone</strong>: 096-2415-062 hoặc 090-9184-625<br/>
        Copyright © 2013 Muamely. All Rights Reserved.
    <!--    
    </div>
      <div class="column col-1">
        <h3>About Us</h3>
        <ul>
          <li><a href="#" style="padding-left: 0px; ">About</a></li>
          <li><a href="#" style="padding-left: 0px; ">Delivery</a></li>
          <li><a href="#" style="padding-left: 0px; ">Privacy Policy</a></li>
          <li><a href="#" style="padding-left: 0px; ">Terms &amp; Conditions</a></li>
        </ul>
      </div>
      <div class="column col-2">
        <h3>Customer Service</h3>
        <ul>
          <li><a href="#" style="padding-left: 0px; ">Contact Form</a></li>
          <li><a href="#" style="padding-left: 0px; ">Returns</a></li>
          <li><a href="#" style="padding-left: 0px; ">Site Map</a></li>
        </ul>
      </div>
      <div class="column col-3">
        <h3>Extras</h3>
        <ul>
          <li><a href="#" style="padding-left: 0px; "><%= t(:retails) %></a></li>
          <li><a href="#" style="padding-left: 0px; "><%= t(:save_points) %></a></li>
          <li><a href="#" style="padding-left: 0px; "><%= t(:promotion) %></a></li>
        </ul>
      </div>
      <div class="column col-4">
        <h3>My Account</h3>
        <ul>
          <li><a href="#" style="padding-left: 0px; ">My Account</a></li>
          <li><a href="#" style="padding-left: 0px; ">Order History</a></li>
          <li><a href="#" style="padding-left: 0px; ">Wish List</a></li>
          <li><a href="#" style="padding-left: 0px; ">Newsletter</a></li>
        </ul>
      </div>
      -->
  </div>
  
</footer>
<script>
//var options={ "publisher": "2d856289-aa21-48ec-85e2-84def02bd9bd", "position": "right", "ad": { "visible": true, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "googleplus", "twitter", "google_bmarks"]}};
//var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>