<header id="header" class="row" data-hook>
  <figure id="logo" class="columns alpha six" data-hook><%= logo %></figure>
  <%= render :partial => 'spree/shared/nav_bar' %>
  <p class="clearfix"></p>
  <%= render :partial => 'spree/shared/carousel' %>
  <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
</header>
