<% if promotion_products.any? %>
  <br class="clear"/>
  <div id="promotion-products-slider" class="royalSlider rsDefault visibleNearby">
    <% promotion_products.each do |product| %>
      <% if product.images.first.present? %>
        <div class="image">
          <a class="rsImg" href="<%= product.images.first.attachment.url(:large) %>" ></a>
          <div class="product-info">
            <span class="original-price"><%= number_to_currency product.original_price %></span><br/>
            <span class="price"><%= number_to_currency product.price %></span><br/>
            <%= link_to truncate(product.name, :length => 50), product, :itemprop => "name", :title => product.name %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<script>
  // Important note! If you're adding CSS3 transition to slides, fadeInLoadedSlide should be disabled to avoid fade-conflicts.
  $(document).ready(function($) {
    $('#promotion-products-slider').royalSlider({
      addActiveClass: true,
      arrowsNav: false,
      controlNavigation: 'none',
      arrowsNav: true,
      arrowsNavAutoHide: true,
      arrowsNavHideOnTouch: true,
      loop: true,
      fadeinLoadedSlide: false,
      controlsInside: false,
      keyboardNavEnabled: true,
      globalCaptionInside: false,
      startSlideId: 1,
      autoPlay: {
        enabled: true,
        delay:	2000
      },
      visibleNearby: {
        enabled: true,
        centerArea: 0.2,
        center: true,
        breakpoint: 650,
        breakpointCenterArea: 0.64,
        navigateByCenterClick: true
      }
    });
  });

</script>

