<% content_for :header do %>
<%= render :partial=>"shared/announcements" %>
<% end %>
<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxonomies' %>
    <%#= render "spree/shared/cart_details"  %>
  </div>
<% end %>
<%= render :partial=>"shared/notice" %>

<div data-hook="homepage_products">
  <%= render :partial => 'spree/shared/products', :locals => { :products => @products } %>
</div>

